posevae/data/MSRC12-X-d60.mat
posevae/data/pose_training.mat
posevae/data/pose_testing.mat
posevae/data/pose_validation.mat
posevae/data/moons_tight.pkl
posevae/data/moons_tight_training.mat
posevae/data/moons_tight_validation.mat
